.img-circle{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

body{
  background-image: url("../images/body_background.jpg")
}

.background{
  background-image: url("../images/cover_img.jpg");
  border-bottom: 5px solid;
}

.click-me{
  display:inline-block;
  width:350px;
  padding-left: auto;
  padding-right: auto;

}

#demo{
  background-color: rgba(0,0,0,0.5);
}
.profession_info{
  text-align: center;

}

/*.inside_proinfo{
  text-align: left;
}*/

.personal_profile {
  /*background-color: lightblue;*/
  margin : 50px;

}


.heading_style{
  text-align:center;
  border-bottom:2px solid;
  /*background-color: yellow;*/
}

.technical_skills{
  /*background-color: lightblue;*/
  /*margin : 50px;
  width: 40%;*/
  /*background-color: rgb(200,200,200);*/
}

#personal_profile, #work_experience, #Skills, #Projects, #Leadeship{
  text-align: center;
}

.panel-title{
  text-align: center;
  /*background-color: #85fcde;*/
}

/*.panel > .panel-heading {
    background-image: none;
    background-color: #85fcde;

}*/

.panel{
  border: 1px solid;
}

.panel-heading.blue{
  background-color: #85fcde;
}

.panel-heading.blue1{
  background-color: #4fead0;
}

.panel-heading.blue2{
  background-color: #4fceea;
}

.panel-heading.blue3{
  background-color: #4f9fea;
}

.panel-heading.blue4{
  background-color: #4f5bea;
}

.fa:hover{
  color:rgb(0,0,100);
}

.work_content{
  width: 550px;;
  height:auto;
  margin-left: auto;
  margin-right: auto;
}

.skill_name{
  font-weight: bold;
  font-style :italic;
}

.one_page_resume{
  text-decoration: underline;
  font-weight : bold;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}
.one_page_resume a{
  color : black;
}
